{% extends 'pages/basePage.html' %}
{% load static %}

{% block body %}
<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper teal">
    <div class="container">
      <a onclick="_utils.mov(`{% url 'admins-home' %}`)" class="clickable brand-logo tooltipped" data-position="left" data-tooltip="Home"><i class="material-icons" style="font-size: 2.5rem;">blur_on</i></a>
      <a data-target="mobile-sidenav" class="sidenav-trigger clickable"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li 
        {% if task_archives %}
        class="tooltipped active"
        {% else %}
        class="tooltipped"
        {% endif %}
        data-position="left" data-tooltip="My Archives">
          <a onclick="_utils.mov(`{% url 'admins-task-archives' %}`)">
            <i class="material-icons">source</i>
          </a>
        </li>

        <li 
        {% if students %}
        class="tooltipped active"
        {% else %}
        class="tooltipped"
        {% endif %}
        data-position="bottom" data-tooltip="My Students">
          <a onclick="_utils.mov(`{% url 'admins-students' %}`)">
            <i class="material-icons">group</i>
          </a>
        </li>
<!-- edir -->
        <li 
        {% if saves %}
        class="tooltipped active"
        {% else %}
        class="tooltipped"
        {% endif %}
        data-position="bottom" data-tooltip="Saved Reports">
          <a class="__open_saves_reports">
            <i class="material-icons">inventory_2</i>
          </a>
        </li>
<!-- cur -->
        <li 
        class="tooltipped"
        data-position="bottom" data-tooltip="Manage Your Tests">
          <a onclick="_utils.mov(`{% url 'Home' %}`)">
            <i class="material-icons">wysiwyg</i>
          </a>
        </li>

        <li 
        class="tooltipped"
        data-position="bottom" data-tooltip="Open Advanced panel">
          <a class="modal-trigger"
            data-target="open-ad-panel-warn">
            <i class="material-icons">science</i>
          </a>
        </li>

        <li 
        class="tooltipped"
        data-position="bottom" data-tooltip="Sign out Now!">
          <a onclick="_utils.mov(`{% url 'users-logout' %}`)">
            <i class="material-icons">logout</i>
          </a>
        </li>

        <li 
        class="tooltipped clickable"
        onclick="_utils.mov(`{% url 'admins-profile' %}`)"
        data-position="right" data-tooltip="My Profile">
          <!-- <img draggable="false" src="{{user.admin_profile.image.url}}" class="nav-img block" style="margin-left: 2.5rem;" /> -->
          <div class="_admin_nav_image"></div>
        </li>

      </ul>
    </div>
  </div>
</nav>
</div>
<ul class="sidenav" id="mobile-sidenav">
  <li onclick="_utils.mov(`{% url 'admins-profile' %}`)" class="clickable">
    <!-- <img src="{{user.admin_profile.image.url}}" style="width: 70%; height: 70%; display: block; margin: auto; margin-top: 1rem; border-radius: 50%;" /> -->
    <div class="_admin_sidnav_image"></div>
    <h5 style="margin: 0;margin-top: .5rem; margin-bottom: 1.5rem;" class="center-align">{{ user.username }}
      <span style="font-size: small; font-weight: 400;" class="block center-align">{{ user.email }}</span>
    </h5>
  </li>
  <ul class="collection">
    <li 
    {% if task_archives %}
    class="tooltipped collection-item active clickable"
    {% else %}
    class="tooltipped collection-item clickable"
    {% endif %}
    data-position="right" data-tooltip="My Archives">
      <a onclick="_utils.mov(`{% url 'admins-task-archives' %}`)">
        <i class="material-icons left">source</i>Task Archives
      </a>
    </li>

    <li 
    {% if students %}
    class="tooltipped collection-item active clickable"
    {% else %}
    class="tooltipped collection-item clickable"
    {% endif %}
    data-position="right" data-tooltip="My Students">
      <a onclick="_utils.mov(`{% url 'admins-students' %}`)">
        <i class="material-icons left">group</i>Students
      </a>
    </li>

    <li 
    {% if saves %}
    class="tooltipped collection-item active clickable"
    {% else %}
    class="tooltipped collection-item clickable"
    {% endif %}
    data-position="right" data-tooltip="Saved Reports">
      <a class="__open_saves_reports">
        <i class="material-icons left">inventory_2</i>Saves
      </a>
    </li>

    <li 
    class="tooltipped collection-item clickable"
    data-position="right" data-tooltip="Manage Your Tests">
      <a onclick="_utils.mov(`{% url 'Home' %}`)">
        <i class="material-icons left">wysiwyg</i>Manage Tests
      </a>
    </li>
    <!-- </li> -->

    <li 
    class="tooltipped collection-item clickable"
    data-position="right" data-tooltip="Open Advanced panel">
      <a class="modal-trigger" data-target="open-ad-panel-warn">
        <i class="material-icons left">science</i>Advanced Panel
      </a>
    </li>

    <li 
    class="tooltipped collection-item clickable"
    data-position="right" data-tooltip="Sign out Now!">
      <a onclick="_utils.mov(`{% url 'users-logout' %}`)">
        <i class="material-icons left">logout</i>Sign Out
      </a>
    </li>
  </ul>
</ul>
<div id="open-ad-panel-warn" class="modal">
  <div class="modal-content">
    <h4 style="margin-bottom: 2.5rem;">Warning</h4>
    <p>After visiting the <b>Advanced Panel</b> you will not be able to go back.<br/>
      Solution: Restarting app is one of the solutions!<br/>
      <span class="block" style="margin-top: 1rem;">Want to continue?</span>
    </p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-teal btn-flat">Dismiss</a>
    <a id="open-ad-panel-warn-submit" class="waves-effect waves-teal btn-flat">Continue</a>
  </div>
</div>
<script>
  !function(){
    document.addEventListener('DOMContentLoaded', function() {
      M.Sidenav.init(document.querySelectorAll('.sidenav'))
      M.Collapsible.init(document.querySelectorAll('.collapsible'))
      M.Tooltip.init(document.querySelectorAll('.tooltipped'))
      M.Modal.init(document.querySelectorAll('.modal'))
      M.Tabs.init(document.querySelectorAll('.tabs', {swipeable: true}))
      M.Timepicker.init(document.querySelectorAll('.timepicker'))
      M.Datepicker.init(document.querySelectorAll('.datepicker'))
      M.Materialbox.init(document.querySelectorAll('.materialboxed'))
      // M.Carousel.init(document.querySelectorAll('.carousel'))
      M.Carousel.init(document.querySelectorAll('.carousel'), {
        fullWidth: true
      })
    })
  }()
  !function() {
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('open-ad-panel-warn-submit').addEventListener('click', event => {
        _utils.mov('/admin/')
      })
    })
  }()
  !function() {
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.__open_saves_reports').forEach(item => item
      .addEventListener('click', e => {
        _utils.get(`{% url 'admins-api-save-reports' %}`).then(res => {
          if (res.status == 202) {
            _utils.mov(`/admins_saves_reports/${res.error}`)
          } else {
            _utils.error(res.error)
          }
        })
      }))
    })
  }()
</script>
<style>
  ._admin_nav_image {
    display: block;
    margin: auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url('{{ user.admin_profile.image.url }}');
    background-size: cover;
    margin-top: 12px;
    margin-left: 2.5rem;
  }
  ._admin_sidnav_image {
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url('{{ user.admin_profile.image.url }}');
    background-size: cover;
    margin-top: 1rem;
  }
</style>
{% block content %}
{% endblock content %}

{% endblock body %}

{% block extra %}
  {% block async %}
  {% endblock async %}
{% endblock extra %}