{% extends 'pages/basePage.html' %}
{% load static %}
{% block body %}
<div class="container">
  <h4 class="center-align">Sign In</h4>
  <img draggable="false" class="rounded center-align" style="display: block; margin: auto; height: 20%; width: 20%; min-width: 8rem;" src="{% static 'users/images/profile-default.png' %}"  />
  <p class="center-align grey-text" style="font-size: smaller; margin-top: 1rem;">start your current Lab session now!</p>
  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div id="__host_input"></div>
   </div>
   <div class="row container" style="margin-top: 2rem;">
      <button type="submit" style="display: block; width: 100%;" class="waves-effect waves-light btn btn-large">Sign in now!</button>
      <span class="grey-text block" style="margin-top: 1rem;">don't have an account? 
        <button 
          style="border: none; outline: none; background-color: #fff;" 
          class="blue-text clickable" 
          onclick="_utils.mov(`{% url 'users-register' %}`)"
          >create one.</button>
      </span>
   </div>
 </form>
</div>
{% endblock body %}
{% block extra %}
<script>
  !function(){
    document.addEventListener('DOMContentLoaded', function(){
      let hostname = 'anonymous'
      try {
        const os = require('os')
        hostname = os.hostname()
      } catch(error) {}
      const tag = `<input type="hidden" name="hostname" value="${hostname}" />`
      document.getElementById('__host_input').innerHTML = tag
    })
  }()
</script>
{% endblock extra %}