{% extends 'pages/baseAdmin.html' %}
{% load static %}

{% block content %}
<div class="row" style="width: 98%; margin: auto;">
    <div class="col s3 collection" style="overflow-x: hidden; overflow-y: auto; height: 85vh;">
        <div class="collapsible-header">
            <h6>
                <i 
                    id="_btn_back_sidenav"
                    class="material-icons teal-text clickable left"
                    onclick="_utils.mov(`{% url 'admins-students' %}`)"
                >arrow_back</i>
                Sessions
            </h6>
        </div>
        {% if sidenav_sessions %}
        {% for session in sidenav_sessions %}
        <div class="hoverable collection-item {% if session.active %} active {% endif %}">
            <span id="{{session.id}}" class="clickable __session_btn responsive-text">{{session.title}}</span>
            <div class="secondary-content" style="display: flex; justify-content: center;">
                <i 
                    {% if session.active %}
                        status="active"
                    {% else %}
                        status="not_active"
                    {% endif %}
                    id="{{session.id}}"
                    data-position="right"
                    data-tooltip="Delete, action is not revertable"
                    class="material-icons tooltipped  __delete_session_btn clickable">delete</i>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="collection-item">
            <p class="center-align light">no session found</p>
        </div>
        {% endif %}
    </div>
    <div class="col s9" style="overflow-x: auto;">
        <i style="margin-top: 1rem;" class="material-icons block clickable blue-text right" onclick="window.print()">print</i>
        <div class="section-to-print">
            <h3 class="center-align">{{session_title}}</h3>
            <h5 class="center-align">Attended Students Were {{data_len}}</h5>
            <table class="centered" style="width: 100%;">
            <thead>
                <tr>
                    <th>PIN</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Year</th>
                    <th>Semester</th>
                    <th>Shift</th>
                    <th>Mail Address</th>
                    <th>Computer Name</th>
                    <th>Total Tasks</th>
                    <th>Completed Tasks</th>
                    <th>Total Task Marks</th>
                    <th>Task Marks</th>
                    <th>Total Average Marks</th>
                    <th>Average Marks</th>
                </tr>
            </thead>
            <tbody>
            {% for stu in data %}
                <tr>
                    <td>{{stu.username}}</td>
                    <td>{{stu.first_name}}</td>
                    <td>{{stu.last_name}}</td>
                    <td>{{stu.current_year}}</td>
                    <td>{{stu.current_semester}}</td>
                    <td>{{stu.current_shift}}</td>
                    <td>{{stu.email}}</td>
                    <td>{{stu.hostname}}</td>
                    <td>{{stu.all_tasks_count}}</td>
                    <td>{{stu.submitted_tasks_count}}</td>
                    <td>{{stu.total_marks}}</td>
                    <td>{{stu.got_marks}}</td>
                    <td>{{stu.total_avg}}</td>
                    <td>{{stu.got_avg}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            {% if not data %}
                <p class="center-align">no Students found</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block async %}
<script>
    !function(){
        document.addEventListener('DOMContentLoaded', function(){
            document.querySelectorAll('.__session_btn').forEach(item => item
            .addEventListener('click', event => {
                let x = window.location.pathname.split('/')
                x.pop()
                x.push(event.target.id)
                _utils.mov(x.join('/')) 
            }))
            let status = ''
            document.querySelectorAll('.__delete_session_btn').forEach(item => item
            .addEventListener('click', event => {
                status = event.target.getAttribute('status')
                M.toast({
                    html: '<i class="material-icons yellow-text">warning</i>&ensp;Operation can\'t be reverted<button id="__sdelete_final" class="btn-flat toast-action">Delete</button>',
                    classes: 'rounded'
                })
                document.getElementById('__sdelete_final').addEventListener('click', e => {
                    if (status === 'active') {
                        const id = event.target.id
                        _utils.delete(`{% url 'admins-api-save-students' %}`, {id: id}).then(res => {
                            if (res.status === 202) {
                                _utils.get(`{% url 'admins-api-save-students' %}`).then(res => {
                                    if (res.status === 202) {
                                        _utils.mov(`{% url 'admins-students' %}${res.error}`)
                                    } else {
                                        _utils.mov(`{% url 'admins-students' %}`)
                                    }
                                })
                            } else {
                                _utils.dismiss(() => _utils.error(res.error))
                            }
                        })
                    } else {
                        const id = event.target.id
                        _utils.delete(`{% url 'admins-api-save-students' %}`, {id: id}).then(res => {
                            if (res.status === 202) {
                                _utils.dismiss(() => _utils.success('Successfully Deleted!', _utils.deload))
                            } else {
                                _utils.dismiss(() => _utils.error(res.error))
                            }
                        })
                    }
                })
            }))
        })
    }()
</script>
{% endblock async %}