{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbarCSS.css' %}">
    <title>Acknowledgment</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-sm-start fixed-top">
        <div class="container-fluid">
                <a class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 mr-auto" onclick="location.href='/kstudent';" style="display: inline-block; font-size: 20px;">College Tests</a>
            <button class="navbar-toggler align-self-start" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-light d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu p-4 p-lg-0 mt-5 mt-5 mt-lg-0"
                id="navbarNav">
                <ul class="navbar-nav align-self-stretch pl-5">
                    <li class="nav-item">
                        <a class="nav-link" onclick="location.href='/kstudent'">
                            <i class="fas fa-home"></i>
                            Home</a>
                    </li>
                    <div class="static-dividers left"></div>
                    <li class="nav-item">
                        <a class="nav-link" onclick="location.href='/kstudent/history?semester=all'">
                            <i class="fas fa-history icon"></i>
                            Result History</a>
                    </li>
                    <div class="static-dividers left"></div>
                    <li class="nav-item">
                        <a class="nav-link" onclick="location.href='{% url 'admins-home' %}'">
                            <i class="fas fa-sign-out-alt icon" aria-hidden="true"></i>
                            Exit
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="makeFlex">
        {% block changeContent1 %}

        {% if current_object == None %}

        <div>
            <h3>Wohoo! No Exams yet, Check out the previous results!</h3>
            <button class="btn btn-custom one" onclick="location.href='/kstudent/history/?semester=all';">Check Here</button>
        </div>

        {% else %}

        <div class="card" style="width: 60%;">
            <div class="card-header text-center">
                Exam Details
            </div>
            <div class="card-body">
                <p class="card-title">Subject</p>
                <p class="card-text">{{ current_object.Subject }}</p>
                <p class="card-title">Exam</p>
                <p class="card-text">{{ current_object.ExamName }}</p>
                <p class="card-title">Duration</p>
                <p class="card-text">{{  current_object.TotalTime }}mins</p>
            </div>
            <button class="btn btn-custom two" onclick="location.href = '../newQuestionFormat'">Start Exam</button>
        </div>

        {% endif %}

        {% endblock %}

    </div>
</body>

</body>
<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/navbarJS.js' %}"></script>

</html>